body {
    margin-bottom: 200px;
} 

.docs-masthead,
.docs-header {
    margin-bottom: 40px;
    font-size: 20px;
    position: relative;
    padding: 30px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}

.docs-header h1 {
    margin-top: 0;
    color: #fff;
}

.docs-header p {
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .docs-header {
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 24px;
        text-align: left;
    }
}

@media (min-width: 768px) {
    .docs-header h1 {
        font-size: 60px;
        line-height: 1;
    }
}

#top {
    margin-bottom: 0;
} 

pre.hljs {
    word-wrap: normal;
}

pre.hljs > code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    white-space: pre;
}

.docs-nav .navbar-brand, .docs-nav .navbar-nav>li>a {
    font-weight: 500;
    color: #563d7c;
}

.mono {
    font-size: 90%;
    font-weight: 700;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

div.section > h1 {
    padding-top: 20px;
    margin-top: 0;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

table {
    font-size: 14px;
}

#toc {
    margin-top: 20px;
    margin-bottom: 20px;
}

#toc ul {
    list-style-type: none;
}

#toc a {
    white-space: nowrap;
}

#toc a:hover {
    text-decoration: none;
}

#toc ul>li>a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}

.toc-h2 {
    padding-left: 14px;
    font-weight: 500;
}

.toc-h3 {
    padding-left: 28px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .docs-masthead {
        padding: 80px 0;
    }
}

@media (min-width: 768px) {
    .docs-masthead .lead {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .docs-masthead .lead {
        width: 80%;
        font-size: 30px !important;
    }
}

.docs-masthead .lead {
    margin: 0 auto 30px;
    font-size: 20px;
}

.docs-masthead .lead,
.docs-masthead h1 {
    color: #fff;
}

.docs-masthead h1 {
    font-size: 60px;
}

.docs-nav .navbar-toggle .icon-bar {
    background-color: #563d7c;
}